[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.2"
mysqlclient = "*"
djangorestframework = "==3.14.0"
django-filter = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "==3.13.0"
django-jazzmin = "*"
drf-writable-nested = "*"
dj_rest_auth = "*"

[dev-packages]
django-extensions = "*"
coverage = "*"
factory-boy = "*"
flake8 = "*"
black = "*"
nplusone = "*"

[requires]
python_version = "3.10"

[scripts]
makemessages = "python manage.py makemessages -l ja"
compilemessages = "python manage.py compilemessages -l ja"
runtest = "coverage run manage.py test"
